<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duanqwei.community.mapper.QuestionMapper">

    <select id="count" resultType="java.lang.Integer">
		select count(1) from question
	</select>


	<select id="selectInfo" resultType="cn.duanqwei.community.dto.QuestionDto">
		SELECT question.*,user.`avatar_url` FROM question LEFT JOIN `user` ON question.`creator` = user.`id`
</select>

	<select id="selectById" resultType="cn.duanqwei.community.dto.QuestionDto">
		SELECT question.*,user.`avatar_url` FROM question LEFT JOIN `user` ON question.`creator` = user.`id` where creator = #{id}
	</select>

	<select id="queryById" resultType="cn.duanqwei.community.bean.Question">
		SELECT * FROM question where id = #{id}
	</select>
</mapper>