<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duanqwei.community.mapper.UserMapper">
    <select id="getUserByCreator" resultType="cn.duanqwei.community.bean.User">
    	select * from user where id = #{creator}
  </select>


    <select id="getUserByUsername" resultType="cn.duanqwei.community.bean.User">
    	select * from user where username = #{username}
  </select>

    <select id="queryUserByToken" resultType="cn.duanqwei.community.bean.User">
    	select * from user where token = #{token}
  </select>

    <select id="selectById" resultType="cn.duanqwei.community.bean.User">
    	select * from user where id = #{id}
  </select>
    <update id="update">
        UPDATE user SET token = #{token} WHERE id = #{id}
    </update>
    <select id="selectUsername" resultType="java.lang.String">
    	select username from user where id = #{id}
  </select>

    <select id="queryImgUrl" resultType="java.lang.String">
    	select avatar_url from user where id = #{id}
  </select>
</mapper>