<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小强社区</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js" type="application/javascript"></script>


</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">小强社区</span>
            </button>
            <a class="navbar-brand" th:href="@{/}">小强社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="/publish">发布</a>
                </li>
                <li><a th:if="${session.user == null}" th:href="@{/toLogin}">登录</a></li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                        <span th:text="${session.user.getUsername()}"></span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/question">我的问题</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <span class="glyphicon glyphicon-list" aria-hidden="true" style="font-size: 22px">发现</span>
            <hr>
            <div class="media" th:each="questionInfo:${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" style="width: 70px" height="70px"
                            th:src="${questionInfo.avatarUrl}"  src="https://i.loli.net/2020/02/25/WMPZueC9fw2GOdK.png" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questionInfo.title}">Media heading</h4>
                    <span th:text="${questionInfo.descrition}"></span><br>
                    <span style="font-size: 12px ; font-weight:normal; color:#999">
                        <span th:text="${questionInfo.commentCount}"></span>个回复.
                        <span th:text="${questionInfo.viewCount}"></span>个人浏览.

                    </span>
                </div>
            </div>
            <br>
            <br>
           <div align="center">
               <a th:href="@{/}">首页</a>
               <a th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
               <a th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
               <a th:href="@{/(pageNum=${pageInfo.pages})}">尾页</a>
               <br>
               <br>
               <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>

</div>


</body>
