<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小强社区</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h2><span th:text="${sectionName}"></span></h2>
            <br>
            <div class="media" th:each="questionInfo:${questionPageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" style="width: 70px" height="70px"
                             th:src="${questionInfo.avatarUrl}"  src="https://i.loli.net/2020/02/25/WMPZueC9fw2GOdK.png" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questionInfo.title}">Media heading</h4>
                    <span th:text="${questionInfo.descrition}"></span><br>
                    <span style="font-size: 12px ; font-weight:normal; color:#999">
                        <span th:text="${questionInfo.commentCount}"></span>个回复.
                        <span th:text="${questionInfo.viewCount}"></span>个人浏览.
                        <span th:text="${#dates.format(questionInfo.createTime,'yyyy-MM-dd')}"></span>
                    </span>
                </div>
            </div>
            <br>
            <br>
            <div align="center">
                <a th:href="@{/profile/questions}">首页</a>
                <a th:href="@{/profile/questions(pageNum=${questionPageInfo.hasPreviousPage}?${questionPageInfo.prePage}:1)}">上一页</a>
                <a th:href="@{/profile/questions(pageNum=${questionPageInfo.hasNextPage}?${questionPageInfo.nextPage}:${questionPageInfo.pages})}">下一页</a>
                <a th:href="@{/profile/questions(pageNum=${questionPageInfo.pages})}">尾页</a>
                <br>
                <br>
                <p>当前 <span th:text="${questionPageInfo.pageNum}"></span> 页,总 <span th:text="${questionPageInfo.pages}"></span> 页,共 <span th:text="${questionPageInfo.total}"></span> 条记录</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我发布的问题</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">
                    最新回复
                    <span class="badge" th:text="14"></span>
                </a>
            </div>
        </div>
    </div>

</div>


</body>
